{% extends 'base.html' %} {% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best News Review website </title>
    {% endif %}

    <!-- Styles block -->

    {% block styles%} {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
</head>

<body>
    <!-- Content block -->
    {% block content %}

    <div class="container">
        <form>
            <input type="text" name="news_query" placeholder="search for news" class="form-control">
            <input type="submit" value="Submit" class="btn btn-default">
            <input type="text" name="news_query" placeholder="Add news" class="form-control">
            <input type="submit" value="Submit" class="btn btn-default">
        </form>
    </div>


    <!-- Breaking news section  -->
    <h3> Breaking News</h3>
    <ul>
        {% for Breaking_news in Breaking %}
        <li>{{ macro.displayNewsList(Breaking)}}</li>
        {% endfor %}
    </ul>
    <!-- Popular movie -->
    <h3> Popular Movies</h3>
    <ul>
        {% for popular_movie in popular %}
        <li>{{ macro.displayMovieList(upcoming)}}</li>
        {% endfor %}
    </ul>

    <!-- Upcoming movie  -->
    <h3> Upcoming Movies </h3>
    <ul>
        {% for upcoming_movie in upcoming %}
        <li>{{ upcoming_movie.title}}</li>
        {% endfor %}
    </ul>
    <!-- Now showing movie -->
    <h3>Now Showing</h3>
    <ul>
        {% for now_showing_movie in now_showing %}
        <li>{{ macro.displayMovieList(now_showing)}}</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>