{% extends 'base.html' %} {% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best News Review website </title>
    {% endif %}

    <!-- Styles block -->

    {% block styles%} {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
</head>

<body>
    <!-- Content block -->
    {% block content %}

    <div class="container">
        <form>
            <input type="text" name="news_query" placeholder="search for news" class="form-control">
            <input type="submit" value="Submit" class="btn btn-default">
            <input type="text" name="news_query" placeholder="Add favorite news" class="form-control">
            <input type="submit" value="Submit" class="btn btn-default">
        </form>
    </div>


    <!-- Breaking news section  -->
    <h3> Breaking News</h3>
    <ul>
        {% for Breaking_news in Breaking %}
        <li>{{ macro.displayNewsList(Breaking)}}</li>
        {% endfor %}
    </ul>
    <!-- Business news  -->
    <h3> Business News</h3>
    <ul>
        {% for Business_news in Business %}
        <li>{{ macro.displayNewsList(Business)}}</li>
        {% endfor %}
    </ul>
    <!-- General news -->
    <h3>General news</h3>
    <ul>
        {% for General_news in General %}
        <li>{{ macro.displayNewsList(General)}}</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>