{% macro displayArticles(articles_list) %} {% for article in articles_list %}
<a href="{{ article.url }}">
    <div class="card col-md-6">
        <img class="card-img" src="{{ article.image_url }}" alt="{{ article.title }}">
        <div class="card-img-overlay">
            <h4 class="card-title">{{ article.title }}</h4>
            <p class="card-text">{{ article.description }}</p>
        </div>
    </div>
</a>
{% endfor %} {% endmacro %} {% macro displaySources(sources_list) %} {% for source in sources_list %}
<option>
    <a href="/source/{{ source.id }}">{{ source.name }}</a>
</option>
{% endfor %} {% endmacro %}